<!Doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8.0">
		<title>PostIt | authentication login</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, max-scale=1" rel="stylesheet">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link href='../base.css' rel='stylesheet' type='text/css'>
		<script src="../client/jquery-1.11.3.min.js"></script>
		<script src="../client/main.js"></script>
	</head>
	
	<body id="#Top">
	<section id="app" class="container-fluid">		
		<header id="auth-header" class="group">						
			<nav class="group">
				
			</nav>
		</header>

		<!-- User Authentication from -->
		<form id="auth-form">
			<a href="../index.html"><img class="form-logo" src="../images/postit-icon.png"></a>
			<p class="form-brief">Log Into Your Account and Start Messaging</p>
			<div class="form-group">
				<input type="email" class="form-control" id="username" placeholder="Enter your email address">
			</div>
			<div class="form-group">
				<input type="password" class="form-control" id="password" placeholder="Enter your password (4 - 10 characters long)">
			</div>
			<button type="submit" class="app-btn btn-auth btn-login">Submit</button>
			<p class="form-brief">Or log in with any of this services</p>
			<div class="row external">
				<div class="col-xs-6 google-auth"><i class="fa fa-google-plus"></i></div>
				<div class="col-xs-6 facebook-auth"><i class="fa fa-facebook"></i></div>
			</div>
		</form>
		<div class="row external">
			<div class="col-xs-6"><a>Forgot password?</a></div>
			<div class="col-xs-6"><a href="register.html">Don't have an account? Register</a></div>
		</div>

	</section>	
	</body>
</html>
