language: node_js
node_js:
    - "6.11.0"
install:
    - npm install
branches:
  only:
    - master
    - server_side_setup
script: npm test
services:
  - postgresql
before_script:
  - createuser Dinobi
  - createdb postit-db --username=Dinobi
  - sequelize db:migrate
after_success:
- npm run coveralls
notifications:
  webhooks: https://coveralls.io/webhook?repo_token=1LqYqgo8Da9hnzuSe1AV8P0SkIuilXTSu