.dashboard-myspace {
			background: #e0e0e0 !important;
			z-index: 0;
}
.bot-msg {
	margin-bottom: 30px;
	background-color: #FFA000;;
	padding: 5px 15px;
	text-align: center;
	box-shadow: 0 0 4px #000;
}
.features {
	position: relative;
	padding: 0 7.5px;
	z-index: 1px;
}
