.bot-msg {
	margin-bottom: 30px;
}
.broadcast-board .row:after {
	    content: " ";
	    display: block;
	    clear: both;
	}
.broadcast-board .row:last-child {
	    margin-right: none;
	}
.broadcast-board .row .col-xs-2,.broadcast-board .row .col-xs-10 {
	  position: relative;
	  color: #fff;
	  text-align: left;
	  display: inline-block;
	  margin-bottom: 1%;
	  overflow: hidden; 
	  float: none;
	  background: #424242;
	  box-shadow: 0 0 4px #000;
	  -webkit-transition: all .3s ease-in-out;
	  -moz-transition: all .3s ease-in-out;
	  transition: all .3s ease-in-out;		
	}


@media (min-width: 575px) {
.broadcast-board .row .col-xs-2,.broadcast-board .row .col-xs-10 {
  float: left;
	margin-right: 1%;
	margin-bottom: 1%;
  }
  .col-xs-2 {
	position: relative;
    width: 15.666667%;
    height: 40px;
    background: #FFC107;
    padding: 0;
  }
   .col-xs-10 {
    width: 82.333333%;
    height: 200px;
    padding: 30px;
  }
}
.broadcast-board .row .col-xs-2:hover,.broadcast-board .row .col-xs-10:hover {
  background: #FFC107;
  box-shadow: 0 0 20px #000;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;		
}