	.card1 {background: #2196F3; cursor: pointer;} .card2 {background: #9C27B0; cursor: pointer;}
	.card3 {background: #F44336; cursor: pointer;} .card4 {background: #4CAF50; cursor: pointer;}

	.dashboard-group .group-headline {
	    margin-bottom: 30px;
	}
	.dashboard-group .row:after {
	    content: " ";
	    display: block;
	    clear: both;
	}
	.dashboard-group .row:last-child {
	    margin-right: none;
	}
	.row h5 {
		color: #fff;
	}

	.dashboard-group .row .col-xs-4,.dashboard-group .row .col-xs-8 {
	  box-shadow: 0 0 4px #000;
	  -webkit-transition: all .3s ease-in-out;
	  -moz-transition: all .3s ease-in-out;
	  transition: all .3s ease-in-out;		
	}

	@media (max-width: 575px){
.dashboard-group .row .col-xs-4,.dashboard-group .row .col-xs-8 {
		position: relative;
		width: 100%;
		padding: 30px;
		text-align: center;
	  color: #fff;
		border-radius: 3px;
	  display: block;
	  margin-bottom: 2%;
	  overflow: hidden; 
	  float: none;	
	}
}


@media (min-width: 575px) {
 .dashboard-group .row .col-xs-4,.dashboard-group .row .col-xs-8 {
  float: left;
	margin-right: 1%;
	margin-bottom: 1%;
  }
  .col-xs-4 {
	position: relative;
    width: 32.33333333%;
    height: 200px;
    padding: 30px;
  }
   .col-xs-8 {
    width: 65.66666667%;
    height: 200px;
    padding: 30px;
  }
}
.dashboard-group .row .col-xs-4:hover,.dashboard-group .row .col-xs-8:hover{
  background: #FFC107;
  box-shadow: 0 0 20px #000;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;		
}
.notification-counter {
	position: absolute;
	top: 30px;
	right: 30px;
	border-radius: 50%;
	background: #B71C1C;
	height: 30px;
	width: 30px;
	padding: 7px;
	margin-left: 30rem;
	text-align: center;
	font-size: 16px;
	font-weight: 700;
	z-index: 100;
}