.bot-msg {
	margin-bottom: 30px;
}
.dashboard-myspace .row:after {
	    content: " ";
	    display: block;
	    clear: both;
	}
.dashboard-myspace .row:last-child {
	    margin-right: none;
	}
.dashboard-myspace .row .col-xs-3,.dashboard-myspace .row .col-xs-9 {
	  position: relative;
	  color: #fff;
		border-radius: 3px;
	  display: inline-block;
	  margin-bottom: 1%;
	  overflow: hidden; 
	  float: none;
	  box-shadow: 0 0 4px #000;
	  -webkit-transition: all .3s ease-in-out;
	  -moz-transition: all .3s ease-in-out;
	  transition: all .3s ease-in-out;		
	}


@media (min-width: 575px) {
.dashboard-myspace .row .col-xs-3,.dashboard-myspace .row .col-xs-9 {
  float: left;
	margin-right: 1%;
	margin-bottom: 1%;
  }
  .col-xs-3 {
	position: relative;
    width: 24%;
    height: 200px;
    padding: 30px;
  }
   .col-xs-9 {
    width: 74%;
    height: 200px;
    padding: 30px;
  }
}
.dashboard-myspace .row .col-xs-3:hover,.dashboard-myspace .row .col-xs-9:hover {
  background: #FFC107;
	color: #fff;
  box-shadow: 0 0 20px #000;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;		
}
.col-xs-3 i {
  display: block;
	color: #fff;
	margin-top: 33px;
	margin-top: 3.3rem;
	margin-left: 44px;
	margin-left: 4.4rem;
	font-size: 68px;
	font-size: 6.8rem;
}