/*======================================= Registration Page =========================================================*/

form {
  margin-top: 2rem;
  background: rgba(255, 255, 255, .03);
  padding: 10px;
}

input,
select,
textarea,
label {
  font: 300 1.6rem/2.2rem Montserrat, "sans-serif";
  background: transparent;
  border: none;
}

.message-group input,
.message-group select,
.message-group textearea {
  border-bottom: .2rem solid rgb(255, 255, 255);
  color: rgba(255, 255, 255, .50);
  display: block;
  margin: 5px 10px;
  padding: 5pc 10px;
}

.message-group input,
.message-group textarea,
.message-group select {
  width: 100%;
  height: 20px;
}

.message-group select {
  height: 3.4rem;
}

.message-group textarea {
  height: 17px;
  color: rgba(255, 255, 255, .50);
}

form .btn {
  float: right;
}
.chat-box-ui {
  display: block;
  border-radius: 5px;
  height: 100px;
  width: 400px;
  padding: 30px;
}
.chat-box-recieved {
  border: 1px solid #616161;
  float: left;
}
.chat-box-sent {
  border: 1px solid #757575;
  float: right;
}
.chat-box-active {
  position: fixed;
  padding: 10px;
  border: 1px solid #424242;
  border-radius: 5px;
  margin: auto 0;
  width: 50%;
  }