@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');
html{
		font-family: "Roboto", sans-serif;
		margin: 0;
	}

@media (max-width:575px){
	html {
	font-size: 47.5%;
}
}
@media (min-width:576px){
	html {
	font-size: 48.5%;
}
}
@media (min-width:768px){
	html {
	font-size: 52.5%;
}
}
@media (min-width:996px){
	html {
	font-size: 57.5%;
}
}
@media (min-width:1200px){
	html {
	font-size: 62.5%;
}
}
body {
	font-family: "Roboto", sans-serif;
	width: 100%;
	padding: 0 auto;
	font-size: 1.6rem;
	background:#212121;
	color: #fff;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6,a {
	color: #fff;
	font-family: "Open Sans", sans-serif;
	}

	h1 {
		font-size: 50px;
		font-size: 5rem;
		line-height: 6rem;
	}
	h2 {
		font-size: 42px;
		font-size: 4.2rem;
		line-height: 5rem ;
	}
	h3 {
		font-size: 38px;
		font-size: 3.8rem;
		line-height: 4.2rem ;
	}
	h4 {
		font-size: 30px;
		font-size: 3rem;
		line-height: 3.8rem ;
}
	h5 {
		font-size: 24px;
		font-size: 2.4rem;
		line-height: 3.6rem ;
	}
	h6 {
		font-size: 20px;
		font-size: 2rem;
		line-height: 3rem ;
	}
	p {
		font-size: 16px;
		font-size: 1.6rem;
		line-height: 2rem
	}
	a {
		text-decoration: none !important;
	}
	a:hover {
		color: #FFC107;
		cursor: pointer;
	}