	.dashboard-logo	img {
		height: 2rem;
	}

	#dashboard-ui {
		width: 100%;
        margin: 0 auto;
		overflow: hidden;
	}	
	.dashboard-menu {
	    padding: 15px 0;
		text-align: left;
		min-height: 84vh;
		overflow: hidden;
		margin: 0 -0.75rem;
		background-color: #454545 !important;

	}
	.dashboard-content {
		padding: 15px;
		text-align: left;
		min-height: 84vh;
		overflow: hidden;
		margin: 0 -0.75rem;
		background-color: #fff !important;
	}