	.card1 {background: #2196F3; cursor: pointer;} .card2 {background: #9C27B0; cursor: pointer;}
	.card3 {background: #F44336; cursor: pointer;} .card4 {background: #4CAF50; cursor: pointer;}

.notification-counter {
	position: absolute;
	top: 30px;
	right: 30px;
	border-radius: 50%;
	background: #B71C1C;
	height: 30px;
	width: 30px;
	padding: 7px;
	margin-left: 30rem;
	text-align: center;
	font-size: 16px;
	font-weight: 700;
	z-index: 100;
}

.dashboard-group card {
	max-height: 30rem;
}