#search-form {
   	border: 1px solid transparent;
	margin: 0 15px;
  	padding: 0.35em 0.625em 0.75em;
}
/* I added a class with a corresponding color */
#search-form .amber:checked + label:before {
	border-right: 2px solid #FFA000; /* You need to change the colour here */
	border-bottom: 2px solid #FFA000; /* And here */
}
#search-form [type="checkbox"] + label {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  display: inline-block;
  font-size: 1.4rem;
}

#search-form input[type="search"] {
	position: relative;
	border: 2px solid #FFA000;
	border-radius: 3px;
	font-size: 14px;
	margin-bottom: 15px;
	box-shadow: none;
}
.search-result div {
	width: 100%;
	margin-top: 30px;
	margin-bottom: 30px;
	background: #f5f5f5;
	padding: 10px 30px;
	text-align: left;
}
.search-result div p {
	width: 100%;
	padding: 10px 30px;
	text-align: left;
}
.search-result div h5 {
	font-weight: 700;
	color: #FFA000;
}
.search-result div em {
	font-weight: 700;
	margin-bottom: 15px;
}

/** Header search from **/
.search-form {
	display: inline-block;
	margin: 0 15px;
	border: none;
	background: transparent;
}
.search-form input[type="text"] {
	border: 1px solid transparent;
	border-radius: 3px;
	font-size: 14px;
	margin: 0;
	box-shadow: none;
	background: #FFA000;
}
.search-form input[type="text"]:focus {
	border: 1px solid #ff6f00;;
	box-shadow: none;
	background: #fff;
}

	