@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("reset-css/reset.css");
@import url("typography-css/typography.css");
@import url("forms-css/forms.css");
@import url("forms-css/search-form.css");
@import url("buttons-css/buttons.css");
@import url("dashboard-css/dashboard.css");
@import url("dashboard-css/dashboard-myspace.css");
@import url("dashboard-css/dashboard-group.css");
@import url("dashboard-css/dashboard-broadcast.css");
@import url("dashboard-css/dashboard-messages.css");
@import url("nav-css/nav.css");
@import url("alerts.css");
@import url("list.css");


@media (max-width:575px){
	html {
	font-size: 47.5%;
}
}
@media (min-width:576px){
	html {
	font-size: 48.5%;
}
}
@media (min-width:768px){
	html {
	font-size: 52.5%;
}
}
@media (min-width:996px){
	html {
	font-size: 57.5%;
}
}
@media (min-width:1200px){
	html {
	font-size: 62.5%;
}
}
body {
	font-family: "Roboto", sans-serif;
	width: 100%;
	padding: 0 auto;
	font-size: 1.6rem;
	background:#212121;
	color: #fff;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}

@media (min-width: 996px){
	#app {
		padding: 0 160px;
		padding: 0 16rem;
	}
}
	
	.headline {
		position: relative;
		width: 50%;
		margin-top: 120px;
		text-align: left;
		float: left;
		z-index: 2;
	}
	.heading {
		margin-bottom: 15px;
	}
	.brief {
		margin-bottom: 30px;
		color: #757575;
	}
	.quick-access a{
		text-decoration: underline;
	}
	.quick-access p{
		display: inline-block;
		margin-left: 15px;
		color: #757575;
	}
	.register {
		color: #fff;
	}
	#landing-image {
		position: absolute;
		top: 120px;
		right: -200px;
	}
	#landing-image img {
		height: 400px;
		height: 40rem;
		z-index: 0;
	}
@media (max-width:900px){
	.headline {
		width: 100%;
		margin-top: 400px;
		text-align: center;
	}
	#landing-image {
		position: absolute;
		top: 120px;
		right: -20px;
	}
	#landing-image img {
		height: 400px;
		height: 40rem;
		z-index: 0;
	}
}



	