<!Doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8.0">
		<title>PostIt | my dashboard</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, max-scale=1" rel="stylesheet">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link href='base.css' rel='stylesheet' type='text/css'>
		<script src="../client/jquery-1.11.3.min.js"></script>
		<script src="../client/main.js"></script>
	</head>
	
	<body id="#Top">
	<section class="container-fluid">
		<section id="dashboard-ui">
		<div class="row">
			<aside class="col-xs-3 dashboard-menu">
				<h4>User Name</h4>
				<ul class="dasboard-menu">
					<li>
						<a class="active" href="dashboard-main.html">My Space</a>
					</li>
					<li>
						<a href="dashboard-group.html">My Groups</a>
					</li>
					<li>
						<a href="dashboard-create-group.html">Create Group</a>
					</li>
					<li>
						<a href="search.html">Search</a>
					</li>
					<li>
						<a href="dashboard-create-message">Create Broadcast</a>
					</li>
					<li>
						<a href="auth.postit.login.html">Logout</a>
					</li>
					
				</ul>
			</aside>
			<section class="col-xs-9 dashboard-content">
				<div id="welcome-card">
					<h3>Welcome to your dashboard</h3>
					<p>This your personal space</p>
				</div>
				
			</section>

		</div>
		</section>
		<footer class="main-footer">
			<small id="copywrite" class="group">&copy;Bootcamp24, Andela Nigeria. All rights reserved.</small>
			<nav>
				<ul>					
					<li><a><i class="fa fa-google-plus"></i></a></li>					
					<li><a><i class="fa fa-github"></i></a></li>
					<li><a><i class="fa fa-facebook"></i></a></li>
					<li><a><i class="fa fa-twitter"></a></i></li>
				</ul>
			</nav>
		</footer>
		<script src="scripts/components.js" type="text/jsx"></script>
	</section>	
	</body>
</html>
