<!Doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8.0">
		<title>PostIt | search</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, max-scale=1" rel="stylesheet">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link href='base.css' rel='stylesheet' type='text/css'>
		<script src="../client/jquery-1.11.3.min.js"></script>
		<script src="../client/main.js"></script>
	</head>
	
	<body id="#Top">
	<section id="app" class="container-fluid">		
		<header id="auth-header" class="group">						
			<nav class="group">
				<a class="app-name" href="index.html"><img src="postit-logo.png" title="PostIt"></a>
			</nav>
		</header>
		<h5>Start your search</h5>
		<form id="search-form">     
			<input id="search-field" "type="text" name="search" placeholder="Search PostIt">
			<button id="search-button" class="fit-to-input" title="Start search"><i class="fa fa-search"></i></button>
		</form>
		<section class="search-result">
			<p>This is what we have for John<span class="close-button" title="close-search">X</span></p>
			<div>John Obioha - john.obioha@gmail.com<span class="add-button" title="add John Obioha">+</span></div>
			<div>John Taiwo - taiwo.olumuyiwa@gmail.com<span class="add-button" title="add John Taiwo">+</span></div>
			<div>Clinton John - clintonforreal@hotmail.com<span class="add-button" title="add Clinton John">+</span></div>
			<div>John Olelewe - hello.john@yahoo.com<span class="add-button" title="add John Olelewe">+</span></div>
		</section>
		<small>Made with &hearts;</small>
	</section>	
	</body>
</html>
