h1, h2, h3, h4, h5, h6,a {
	color: inherit;
	font-family: "Open Sans", sans-serif;
	}
	h1, h2, h3, h4 {
		letter-spacing: .05rem;
		word-spacing: .07rem;
	}
	h5, h6, p, a, button {
		letter-spacing: .01rem;
		word-spacing: .05rem;
	}

	h1 {
		font-size: 50px;
		font-size: 5rem;
		line-height: 6rem;
	}
	h2 {
		font-size: 42px;
		font-size: 4.2rem;
		line-height: 5rem ;
	}
	h3 {
		font-size: 38px;
		font-size: 3.8rem;
		line-height: 4.2rem ;
	}
	h4 {
		font-size: 30px;
		font-size: 3rem;
		line-height: 3.8rem ;
}
	h5 {
		font-size: 24px;
		font-size: 2.4rem;
		line-height: 3.6rem ;
	}
	h6 {
		font-size: 20px;
		font-size: 2rem;
		line-height: 3rem ;
	}
	p {
		font-size: 16px;
		font-size: 1.6rem;
		line-height: 2rem
	}
	a {
		text-decoration: none;
	}
	a:hover {
		color: #FFC107;
		cursor: pointer;
	}