<!Doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8.0">
		<title>PostIt | dashboard search</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, max-scale=1" rel="stylesheet">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link href='../base.css' rel='stylesheet' type='text/css'>
		<script src="../../client/jquery-1.11.3.min.js"></script>
		<script src="../../client/main.js"></script>
	</head>
	
	<body id="#Top">
	<section class="container-fluid">
		<section id="dashboard-ui">
		<div class="row">
			<aside class="col-sm-3 dashboard-menu">
				<h4>User Name</h4>
				<ul class="dasboard-menu">
					<li>
						<a href="index.html"><i class="fa fa-home"></i>&nbsp;&nbsp;My Space</a>
					</li>
					<li>
						<a href="group.html"><i class="fa fa-group"></i>&nbsp;&nbsp;My Groups</a>
					</li>
					<li>
						<a class="active" href="search.html"><i class="fa fa-search"></i>&nbsp;&nbsp;Search PostIt</a>
					</li>
					<li>
						<a href="search-wikipedia.html"><i class="fa fa-wikipedia-w"></i>&nbsp;&nbsp;Search Wikipedia</a>
					</li>
					<li>
						<a href="account-details.html"><i class="fa fa-cog"></i>&nbsp;&nbsp;Account Details</a>
					</li>
					<li>
						<a href="../auth.postit/login.html"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;Logout</a>
					</li>
					
				</ul>
			</aside>
			<section class="col-sm-9 dashboard-content dashboard-group">
				<h3>What would you like to search for?</h3>
				<form id="search-form">
					<fieldset class="search-term group">
						<div class="row">
							<section class="col-xs-6 card1"><h5>User</h5><input name="select" type="checkbox"></section>
							<section class="col-xs-6 card2"><h5>Group</h5><input name="select" type="checkbox"></section>
						</div>	
						<div class="row" id="search-field">
							<input name="search" type="text" placeholder="Start your search"><button class="app-btn btn-solid">Start search</button>
						</div>
					</fieldset>					
				</form>
				<section class="search-result">
				</section>			
			</section>
		</div>
		</section>
		<footer class="main-footer">
			<small id="copywrite" class="group">&copy;Bootcamp24, Andela Nigeria. All rights reserved.</small>
			<nav>
				<ul>					
					<li><a><i class="fa fa-google-plus"></i></a></li>					
					<li><a><i class="fa fa-github"></i></a></li>
					<li><a><i class="fa fa-facebook"></i></a></li>
					<li><a><i class="fa fa-twitter"></a></i></li>
				</ul>
			</nav>
		</footer>
		<script src="scripts/components.js" type="text/jsx"></script>
	</section>	
	</body>
</html>
