$success-alert: #4CAF50;
$error-alert: #F44336;
$info-alert: #eee;

p.alert {
  color: #fff;
  font-size: 12px;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: $error-alert;
}
p.alert.error-alert {
  background-color: $error-alert;
}
p.alert.success-alert {
  background-color: $success-alert;
}
p.alert.info-alert {
  background-color: $info-alert;
  color: #000;
}
.swal-modal {
  background: $white;
  border-radius: 1px;
}
.swal-button {
  padding: 7px 19px;
  color: $white;
  border-radius: 1px;
  background-color: $primary-color;
  font-size: 14px;
  border: 1px solid transparent;
  text-shadow: none;
  &:hover {
    background-color: $primary-color-hover;
  }
  &:focus {
    @extend .swal-button:hover;
    border: 1px solid transparent;
    background-color: red;
  }
}
