@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("typography.css");
@import url("forms.css");
@import url("search-form.css");
@import url("buttons.css");
@import url("dashboard.css");
@import url("dashboard-myspace.css");
@import url("dashboard-group.css");
@import url("dashboard-messages.css");
@import url("nav.css");

body {
	background:#212121;
	color: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
	.headline {
		margin-top: 80px;
		text-align: left;
		z-index: 2;
	}
	.heading {
		margin-bottom: 15px;
	}
	.brief {
		margin-bottom: 30px;
		color: #757575;
	}
	.quick-access p{
		display: inline-block;
		margin-left: 15px;
		color: #757575;
	}
	.quick-access p > a {
		text-decoration: none !important;
	}
	.quick-access p > a:hover {
		text-decoration: underline !important;
	}
	.register {
		color: #fff;
	}
	#landing-image {
		position: absolute;
		top: 120px;
		right: -200px;
	}
	#landing-image img {
		height: 400px;
		height: 40rem;
		z-index: 0;
	}
@media (max-width:900px){
	.headline {
		text-align: center;
	}
	#landing-image {
		position: absolute;
		top: 120px;
		right: -20px;
	}
	#landing-image img {
		height: 400px;
		height: 40rem;
		z-index: 0;
	}
}