.btn-login {
  background: #FFC107;
  vertical-align: middle;
}
.btn-login:hover {
	background: #FFA000;
}
.btn-login:focus {
	background: #FFA000;
}
.btn-login p {
  text-align: center;
  margin-top: 1px;
  font-weight: 900;
  
}

.btn-create, .btn-large {
  text-decoration: none;
  font-weight: 700;
  min-width: 120px;
  font-size: 1.4rem !important;
  font-weight: 900;
  color: #fff;
  background-color: #ff6f00;
  text-align: center;
  letter-spacing: .5px;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
  cursor: pointer;
}

.btn-create:focus, .btn-large:focus,
.btn-floating:focus {
  background-color: #FFA000;
}

.btn-create:hover, .btn-large:hover {
  background-color: #FFA000;
}