
$urgent: #2196F3;
$normal: #4CAF50;
$critical: #F44336;
.tag {
	float: right;
  padding: 1px 8px;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  font-size: 10px;
  font-weight: 900;
}
@media (max-width: 600px) {
	.tag {
		position: relative;
		top: 10px;
		
	}
}
.normal-tag {
	background: $normal;
}
.urgent-tag {
	background: $urgent;
}
.critical-tag {
	background: $critical;
}

.dashboard-group {
	i {
		font-size: 2.4rem;
	}
	.card {
		height: 108px;
		.card-control {
			height: 68px !important;
			padding: 0 !important;
			margin-left: auto;
			margin-right: auto;
			width: 80%;
			margin-bottom: 30px;
			.input-field {
				margin: 0 !important;
			}
			i:hover {
				color: $primary-color !important;
			}
		}
	}
}
@media (max-width: 600px) {
	.dashboard-group .card.card-control {
		overflow-y: auto; 
		width: 100%;
	}
}
.dashboard-group .card i:hover, .dashboard-group .card-control i:hover {
	color: $primary-color-hover !important;
}

.dashboard-group .right {
	position: absolute;
	right: 24px;
	bottom: 24px;
}

.members-list {
	height: 60vh;
	overflow-y: auto;
}
@media (max-width: 600px) {
	.members-list {
		padding: 0px 15px;
	}
} 
.tooltipped {
	position: relative !important;
	float: right;
	margin-top: 3px;
}
.member-list-title {
	background: #212121;
	margin-bottom: $margin;
	padding: 5px 10px;
	font-weight: 900 !important;
	h5 {
		font-weight: 900 !important;
	}
}

.members-list > .chip {
	cursor: pointer;
	font-weight: bold;
	&:hover, &:active, &:focus {
		color: $white;
		background: $smoke;
	}
	.removeButton {
		position: absolute;
		top: 5px;
		right: 0;
		margin-left: 5px;
		&:hover {
			color: $primary-color;
		}
	}
}
.addButton {
	position: absolute;
	right: 20px;
	&:hover {
		color: #000;
	}
}
.hang {
	position: absolute !important;
	right: 2px;
	bottom: 2px;
}
.hang-top {
	position: absolute !important;
	right: 0;
	top: 0;
	cursor: pointer;
	height: 36px;
}

.members.button-collapse {
	position: fixed;
	right: 23px;
	top: 100px;
}
.search.button-collapse {
	position: fixed;
	right: 23px;
	top: 180px;
}