	.card1 {background: #2196F3; cursor: pointer;} .card2 {background: #9C27B0; cursor: pointer;}
	.card3 {background: #F44336; cursor: pointer;} .card4 {background: #4CAF50; cursor: pointer;}

.notify-counter span{
	display: inline-block;
	margin-right: 1rem;
	font-weight: 700;
	cursor: pointer;
}
.notify-counter .critical{
	color: #F44336;
}
.notify-counter .urgent{
	color: #2196F3;
}
.notify-counter .normal{
	color: #4CAF50;
}

.dashboard-group .card {
    height: 108px;
}
.dashboard-group .right {
	position: absolute;
	right: 24px;
	bottom: 24px;
}

.dashboard-group .card i:hover {
    color: #ff6f00;
}
.member-list-title {
	background: #212121;
	padding: 5px 10px;
}
.members-list > li {
	cursor: pointer;
	list-style: none;
	font-weight: 900;
	padding: 10px;
}
.members-list > li:hover {
	border-radius: 3px;
	color: #fff;
	background: linear-gradient(#FFC107, #FFA000);;
}
.members-list > li:active, .members-list > li:focus {
	border-radius: 3px;
	color: #fff;
	background: linear-gradient(#FFC107, #FFA000);;
}