	.card1 {background: #2196F3; cursor: pointer;} .card2 {background: #9C27B0; cursor: pointer;}
	.card3 {background: #F44336; cursor: pointer;} .card4 {background: #4CAF50; cursor: pointer;}

.notify-counter span{
	display: inline-block;
	margin-right: 1rem;
	font-weight: 700;
	cursor: pointer;
}
.notify-counter .critical{
	color: #F44336;
}
.notify-counter .urgent{
	color: #2196F3;
}
.notify-counter .normal{
	color: #4CAF50;
}
.tag {
	float: right;
  padding: 1px 8px;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  font-size: 10px;
  font-weight: 900;
}
@media (max-width: 600px) {
	.tag {
		float: none;
		display: inline-block;
		position: relative;
		right: 0;
		top: 0;
		
	}
}
.normal-tag {
	background: #4CAF50;
}
.urgent-tag {
	background: #2196F3;
}
.critical-tag {
	background: #F44336;
}

.dashboard-group .card {
    height: 108px;
}
.dashboard-group .card.card-control {
	height: 68px !important;
	padding: 0 !important;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	margin-bottom: 30px;
}
.dashboard-group i {
	font-size: 2.4rem;
}
.dashboard-group .card.card-control .input-field {
	margin: 0 !important;
}
.dashboard-group .card-control i:hover {
	color: #ff6f00 !important;
}
@media (max-width: 600px) {
	.dashboard-group .card.card-control {
		overflow-y: auto; 
		width: 100%;
	}
}
.dashboard-group .card i:hover, .dashboard-group .card-control i:hover {
	color: #FFA000 !important;
}

.dashboard-group .right {
	position: absolute;
	right: 24px;
	bottom: 24px;
}

.members-list {
	height: 60vh;
	overflow-y: auto;
}
.tooltipped {
	position: relative !important;
	float: right;
	margin-top: 3px;
}
.member-list-title {
	background: #212121;
	padding: 5px 10px;
	font-weight: 900 !important;
}
.member-list-title h5 {
	font-weight: 900 !important;
}
.members-list > li {
	cursor: pointer;
	list-style: none;
	font-weight: 900;
	padding: 10px;
}
.members-list > li:hover {
	border-radius: 3px;
	color: #fff;
	background: linear-gradient(#FFC107, #FFA000);;
}
.members-list > li:active, .members-list > li:focus {
	border-radius: 3px;
	color: #fff;
	background: linear-gradient(#FFC107, #FFA000);;
}
.removeButton, .addButton {
	position: absolute;
	right: 20px;
}
.removeButton:hover, .addButton {
	color: #000;
}