	.dashboard-ui {
		width: 100%;
    margin: 0 auto;
		overflow: hidden;
		background-color: $primary-color;
		
	}
	/*--Dashboard Menu Setup--*/
	.dashboard-menu {
		text-align: left;
		height: 92vh;
		overflow: auto;
		margin: 0 -0.75rem;
		background-color: #212121!important;	
		.menu-nav {
			margin: 0;
			padding: 0;
			height: 74%;
			overflow: auto;
			overflow-x: hidden;
			.side-icon {
				width: 18px;
				width: 1.8rem;
			}
		}
		.my-tab {
			height: 16%;
			border-bottom: 1px solid #424242;
			background-color: transparent;
			font-weight: 700;
			text-align: left;
			padding: 20px;
			padding: 2rem;
			overflow: hidden;
			&:hover {
				background-color: #000; 
			}
		}
		.utility {
			@extend .my-tab;
			height: 10%;
			border-top: 1px solid #424242;
			text-align: center !important;
			&:hover {
				background-color: #000;
				border-bottom: 1px solid #000;
			}
			i {
				font-size: 24px;
				font-size: 2.4rem;
			}
			.dropdown-content {
				overflow: hidden;
				min-width: 200px;
				min-width: 20rem;
			}
			.dropdown-content li {
				background: $white !important;
				a {
					color: $primary-background;
					margin: 0;
					&:hover {
						color: $white;
						margin: 0;
						background: $primary-color !important;
					}
				}
			}
		}
	}

	/** set text size within my-tab and utility **/
	.my-tab > h5, .utility > h5 {
		font-weight: 900;
		line-height: 2.4rem;
		cursor: pointer;
	}
	.my-tab > h6, .utility > h6 {
		font-size: 12px;
		font-weight: 900;
		line-height: 2.4rem;
		color: #FFC107;
		cursor: pointer;
	}
	.collapsible {
		-webkit-box-shadow: none !important;
		box-shadow: none !important;
	}
	.collapsible {
		border: none !important;
		margin: 0.5rem 0 1rem 0;
	}
	.collapsible-header {
		cursor: pointer;
		-webkit-tap-highlight-color: transparent;
		line-height: 1;
		padding: 1rem;
		background-color: transparent;
		border-top: 1px solid transparent;
		border-bottom: 1px solid transparent;
	}
	.collapsible-body {
		display: none;
		border-bottom: 1px solid transparent;
		-webkit-box-sizing: border-box;
						box-sizing: border-box;
		padding: 2.5px 20px;
	}

.dashboard-menu li {
	a {
		color: $white;
		text-decoration: none;
		min-width: 200px;
		padding: 10px 20px;
		padding: 1rem 2rem;
		display: block;
		font-size: 14px;
		&:hover {
			color: $white;
			background-color: $smoke3;
		}
	}
}
.dashboard-menu li a.active, .nav-item a.active {
	background: #FFC107;
	background: linear-gradient($primary-color, $primary-color-hover);
	background: -moz-linear-gradient($primary-color, $primary-color-hover);
	background: -webkit-linear-gradient($primary-color, $primary-color-hover);
}
.dashboard-menu li a.active:hover, .nav-item a.active:hover {
	@extend a.active;
}
.dashboard-menu .collapsible-header:hover {
	background: $smoke3;
}
.dashboard-menu .collapsible-header.active {
	background: #000;
	background: linear-gradient($smoke2, #000);
	background: -moz-linear-gradient($smoke2, #000);
	background: -webkit-linear-gradient($smoke2, #000);
}
			
/*--Dashboard Content Setup--*/
.dashboard-content {
	text-align: left;
	background-color: $white;
	color: #000;
	height: 92vh;
	overflow: hidden;
	overflow-y: auto;
	margin: 0 -0.75rem;
}
/** Dashboard content for messageboard **/
.group-gui {
	overflow-y: hidden !important;
}

::-webkit-scrollbar {
  height: 12px;
  width: 8px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #e0e0e0;
	-webkit-border-radius: 1ex;
	border-radius: 1ex;
}	

/** General Style for all dashboard card **/ 
.dashboard-ui {
	.card {
		overflow: hidden;
		height: 200px;
		.card-title {
			font-size: 24px;
			font-size: 2.4rem;
			font-weight: 400;
		}
	}
}
.dashboard-ui .card a, .card i {
	color: $primary-color;
}
.dashboard-ui small {
	margin: 0;
}
	