.action-ribbon {
	background-color: #FFA000;
	height: 7.5%;
	overflow: hidden;
	-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
  	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
}
.message-board {
	min-height: 400px;
	margin: 0 auto;
	background-color: #fff;
}
@media (max-width: 767px){
	.message-board {
	width: 100%;
	}
}
.postlogs {
	width: 100%;
	height: 69vh;
	padding: 10px 0;
	overflow-x: hidden;
	overflow-y: scroll;
}
.post {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	padding: 5px 15px;
}
.post:hover {
	background: #f5f5f5;
}
.post .user-photo {
	width: 60px;
	height: 60px;
	background: #ccc;
	border-radius: 10%;
}
.post .post-message {
	width: 80%;
	padding: 0 15px;
	margin: 0 10px;
	color: #000;
}
.post-message h6 {
	font-weight: 900;
	font-size: 14px;
	color: #000;
}
.post-message small {
	font-size: 12px;
	color: #bdbdbd;
}
.post-message h6, .post-message small {
	display: inline-block
}
.post-message p {
	color: #757575;
	font-family: "Open Sans", sans-serif;
}
.message-box {
	margin: 10px 0 0 20px;
	display: flex;
	align-items: flex-start;
}
.message-box textarea{
	background: #FFF8E1;
	color: #212121;
	width: 85%;
	overflow: hidden;
	padding: .25rem 1rem;
	border: 2px solid #FFA000;
	margin-right: 10px;
	border-radius: 5px;
	resize: none;
}
.message-box textarea:focus {
	background: #fff;
	border-color: #FFA000;
	outline: none;
}
.message-box .btn {
	width: 12%;
}