.message-board {
	min-height: 390px;
	margin: 0 auto;
	background-color: #fff;
}
@media (max-width: 767px){
	.message-board {
	width: 100%;
	}
}
.postlogs {
	width: 100%;
	height: 60vh;
	padding: 10px 0;
	overflow-x: hidden;
	overflow-y: scroll;
}
.post {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	padding: 15px 15px;
}
.post:hover {
	background: #f5f5f5;

}
.post .avatar {
	background: #ccc;
	border-radius: 10%;
	height: 6rem;
	width: 6rem;
	font-size: 4rem;
	font-weight: 900;
	text-align: center;
	margin-top: 1rem;
}
.post .post-message {
	width: 80%;
	padding: 0 15px;
	color: #000;
	word-wrap: break-word;
}
.post-message h6 {
	font-weight: 900;
	font-size: 14px;
	color: #000;
}
.post-message small {
	font-size: 12px;
	color: #bdbdbd;
}
.post-message h6, .post-message small {
	display: inline-block
}
.post-message p {
	color: #757575;
	font-family: "Open Sans", sans-serif;
	margin: 10px 0 0 0;
}
.message-box {
	margin: 10px 0 10px 15px;
	display: flex;
	align-items: flex-start;
}
.message-box textarea{
	background: #FFF8E1;
	color: #212121;
	width: 85%;
	overflow: hidden;
	max-height: 200px;
	overflow-y: auto;
	min-height: 40px;
	padding: .6rem 1rem;
	border: 2px solid #FFA000;
	margin-right: 10px;
	border-radius: 5px;
	resize: none;
}
.message-box textarea:focus {
	background: #fff;
	border-color: #FFA000;
	outline: none;
}
.message-box .action-btn {
	border-radius: 3px;
	border: none;
}
.select {
	width: 12%;
	margin-right: 5px;
	color: #FFA000;
	background-color: #212121;
}
.search-term .select {
	width: 100px !important;
}
.send {
	background-color: #FFA000;
}