/*======================================= LANDING SIGNUP FORM =========================================================*/
	#signup-form {
		margin-top: 120px;
		padding: 0 0 0 60px;
		color: #fff;
	}
@media (max-width:992px){
	#signup-form {
		margin-top: 60px;
		padding: 0;
	}
}
/**Input field styling**/
#signup-form .input-field input:focus,
#auth-form .input-field input:focus
{
	border-bottom: 1px solid #ffc107 !important;
	box-shadow: 0 1px 0 0 #ffc107 !important;
	color: #fff;
	font-size: 14px;
}
	
	#signup-form .input-field input[type=text] + label,
	#signup-form .input-field input[type=email] + label,
	#signup-form .input-field input[type=number] + label,
	#signup-form .input-field input[type=password] + label {
		color: #ffc107 !important;
		font-size: 14px;	 
	}
	#signup-form .btn-create {
		width: 100%;
		font-size: 14px;
	}

	#auth-form {
		padding: 40px;
		background: #fff;
		max-width: 400px;
    min-height: 300px;
		color: #212121;
		border-radius: 5px;
    margin: 60px auto 30px auto;
		overflow: hidden;
		text-align: center;
	}
@media (max-width:992px){
	#auth-form {
		padding: 30px;
	}
}
	.external {
		margin: 0 auto;
		max-width: 400px;
	}
	.external a {
		font-size: 12px;
	}
	.form-logo {
		margin-bottom: 15px;
	}
	p.form-brief {
		color: #000;
		margin-bottom: 40px;
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 900;
		font-family: "Open Sans", sans-serif;
	}
	#auth-form input {
		display: block;
		height: 60px;
		font-family: "Open Sans", sans-serif;
		font-weight: 400;
		font-size: 14px;
		color: #000 !important;
		margin-bottom: 30px;
	}
	#auth-form .btn-login {
		width: 100%;
		font-size: 16px;
		font-weight: 900;
	}
	#auth-form .input-field input[type=email] + label,
	#auth-form .input-field input[type=password] + label,
	#auth-form .input-field input[type=text] + label {
		color: #000 !important;
		font-size: 14px;	 
	}

	#auth-form .input-field input[type=text]:focus + label,
	#auth-form .input-field input[type=email]:focus + label,
	#auth-form .input-field input[type=password]:focus + label {
		color: #FFA000 !important;
	}

	.google-auth, .facebook-auth {
		color: #FFC107;
		font-size: 24px;
		cursor: pointer;
	}
	.google-auth:hover {
		color: #F44336;
	}
	.facebook-auth:hover {
		color: #01579B;
	}

/** Create Group Form **/
#create-group-form {
	border: 1px solid transparent;
}

#create-group-form .input-field input[type=text] {
	border: 2px solid #ffc107 !important;
	color: #000;
	border-radius: 5px;
	margin-bottom: 30px;
	padding: 0 1rem;
	font-size: 14px;
}
#create-group-form .input-field input[type=text]:focus {
	box-shadow: none;
}

#create-group-form textarea {
  display: block;
  max-height: 200px;
  min-height: 100px;
  padding: .5rem 1rem;
  overflow-y: auto;
  color: #000;
  font-size: 14px;
  background-color: transparent;
  border: 2px solid #ffc107;
  border-radius: 5px;
  resize: none;
}
#create-group-form textarea:focus {
	border-color: #ffc107;
	outline: none;
}

/** Modal ***/
.modal-cover {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255,255,255,.95);
  z-index: 1040;
  display: none;
}

.modal-cover.modal-cover-active {
  display: block;
}
.modal-header {
	padding: 0 30px 60px 30px;
}
.modal-header h5,
.modal-header i {
	display: inline-block;
	font-size: 3rem;
	font-weight: 900;
}
.modal-header i {
	float: right;
}

.modal-container {
	z-index: 1050;
	text-align: center;
  position: fixed;
	padding: 30px;
  width: 800px;
  min-height: 700px;
  left: 50%;
  top: 5%;
  margin-left: -400px;
  display: none;
}

.modal-container.modal-container-active {
  display: block;
}