nav {
  width: 100%;
  height: 55px;
	line-height: 55px;
	z-index: 1000;	
}
.nav-wrapper {
	-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
	overflow: hidden;
}

nav .postit-logo {
  position: absolute;
  left: 0;
  color: #fff;
  display: inline-block;
  padding: 10px 0;
  padding: 1rem 0;
}
.postit-logo img {
  height: 3.5rem;
}
/** Dashboard header **/
nav .dashboard-logo {
  position: absolute;
  left: 15px;
  color: #fff;
  display: inline-block;
  padding: 7.5px 0;
  padding: .75rem 0;
}
.dashboard-logo img {
  height: 2.5rem;
}
nav ul a {
  font-size: 1.8rem;
}
nav ul a:hover {
  color: #fff;
}
nav ul a.btn, nav ul a.btn-large, nav ul a.btn-large, nav ul a.btn-flat, nav ul a.btn-floating {
  margin-top: -2px;
  margin-left: 15px;
  margin-right: 15px;
}

nav ul a:hover {
  background-color: #FFA000;
}
nav li:last-child a:hover {
  background-color: #ffc107;
}
/** Dashboard header **/
.dashboard-header nav ul a {
  color: #ff6f00;
}
.dashboard-header nav ul a:hover {
	background-color: transparent;
	color: #fff;
}

nav ul.left {
  float: left;
}
#mobile-nav {
		display: none;
}
#mobile-nav .nav-item{
		display: none;
}
.nav-mobile {
	display: none;
}

/**Nav Mobile**/
@media (max-width:992px){
	.mobile-nav {
		display: block;
		position: relative;
		width: 100%;
		background-color: #ffc107;
		z-index: 1000;
	}
	#mobile-nav {
		position: relative;
		background-color: #ffc107;
		padding: 10px 0;
	}
		
	#mobile-nav .nav-list{
		margin: 0;
		display: block;
		max-height: none;
		-webkit-transition: all 0.2s ease-out;
		-moz-transition: all 0.2s ease-out;
		-ms-transition: all 0.2s ease-out;
		-o-transition: all 0.2s ease-out;
		transition: all 0.2s ease-out;
		z-index: 100;
	}
	#mobile-nav .nav-item{
		display: block;
		text-align: left;
		margin: 0;
		padding: 10px 0;
	}

	#mobile-nav .nav-item a {
		display: block;
		font-size: 24px;
		font-weight: 400;
		transition: all .2s ease;
		-moz-transition: all .2s ease;
		-webkit-transition: all .2s ease;
	}
	#mobile-nav .nav-item a:hover{
		color: #fff;
		padding: 0 10px;
		text-decoration: none;
		transition: all .2s ease;
		-moz-transition: all .2s ease;
		-webkit-transition: all .2s ease;
	}
	
	#mobile-nav .nav-item button {
		display: block;
		margin-top: 15px;
		width: 100%;
		font-size: 14px;
		font-weight: 400;
	}

	
	.nav-mobile {
		display: block; /* Hide from browsers that dont support media queries */
		cursor: pointer;
		position: absolute;
		top: 7.858px;
		right: 15px;
		border-radius: 0;
		border: 1px solid #212121;
		background: transparent;
		height: 38px;
		width: 38px;
		padding: 8px 8px;
	}
	.nav-mobile span{
		position: relative;
		display: block;
		width: 100%;
		height: 2px;
		margin-top: 4px;
		background: #212121;
		transition: all .25s;
	}

	.nav-mobile span:first-child {
		margin-top: 2px;
	}
	.nav-mobile.open span:first-child {
		transform: rotate(45deg) translate(4.4px, 4.4px);
	}
	.nav-mobile.open span:nth-child(2) {
		width: 0%;
		opacity: 0;
	}
	.nav-mobile.open span:last-child {
		transform: rotate(-45deg) translate(4.4px, -4.4px);
	}
	.expanded {
		display: block;
	}
}

	.page-footer {
		background: transparent;
		color: #616161;
		padding-top: 10px;
		
	}
	.page-footer .divider {
		background-color: #616161;
	}
	.page-footer i{
		font-size: 24px;
	}
	.page-footer i:hover {
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
	}
	.page-footer li {
		display: inline-block;
		margin-right: 20px;
		margin-right: 2rem;
	}
	.page-footer li:last-child {
		margin-right: 0;
	}
	.page-footer .copyright {
		min-height: 50px;
		-webkit-box-align: center;
		-webkit-align-items: center;
			-ms-flex-align: center;
				align-items: center;
		padding: 10px 0px;
		color: rgba(255, 255, 255, 0.8);
	}
	.dashboard-footer .copyright {
		-webkit-box-align: center;
		-webkit-align-items: center;
			-ms-flex-align: center;
				align-items: center;
		padding: 10px 0px;
		color: rgba(255, 255, 255, 0.8);
	}

@media (max-width:420px){
	.page-footer .left {
		float: none !important;
	}
	ul.right {
		float: none !important;
	}
}