nav {
  width: 100%;
  height: 55px;
	line-height: 55px;
	z-index: 1000;
	.nav-wrapper {
		-webkit-box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.14);
		box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
		overflow: hidden;
	}
	.side-nav {
		background: $primary-background;
		overflow-y: auto;
	}
	.postit-logo {
		position: absolute;
		left: 0;
		color: $white;
		display: inline-block;
		padding: 10px 0;
		padding: 1rem 0;
		img {
			height: 3.5rem;
		}
	}
}
/** Dashboard header **/
nav .dashboard-logo {
  position: absolute;
  left: $margin;
  color: $white;
  display: inline-block;
  padding: 7.5px 0;
	padding: .75rem 0;
	img {
		height: 2.5rem;
	}
}

nav ul a {
	font-size: 1.4rem;
	font-weight: bold;
	color: $white !important;
	&:hover {
		color: $white;
		background-color: $primary-color-hover !important;
	}
	// .btn, .btn-large, .btn-flat, .btn-floating {
	// 	margin-left: $margin;
	// 	margin-right: $margin;
	// }
}
nav li:last-child a:hover {
	background-color: $primary-color !important;
}
nav .side-nav li:last-child a:hover{
	background-color: $primary-background !important;
}
/** Dashboard header **/
.dashboard-header nav ul {
	a {
		color: $offset-color;
		&:hover {
			background-color: transparent;
			color: $white;
		}
	}
}
.page-footer {
	background: transparent;
	color: $smoke;
	padding-top: 60px;
	.divider {
		background-color: $smoke;
	}
	i{
		font-size: 24px;
		&:hover {
			-webkit-transition: all .2s ease-in-out;
			-moz-transition: all .2s ease-in-out;
			transition: all .2s ease-in-out;
		}
	}
	li {
		display: inline-block;
		margin-right: 20px;
		margin-right: 2rem;
		&:last-child {
			margin-right: 0;
		}
	}		
}

@media (max-width:420px){
	.page-footer .left {
		float: none !important;
	}
	ul.right {
		float: none !important;
	}
}
#desktop {
	display: block !important
}
.nav-item.hidden {
	display: none;
}
#mobile-menu, #mobile-menu i, .button-collapse {
	display: none !important;
}
@media (max-width: 767px) {
	#desktop {
		display: none !important;
	}
	#mobile-menu, .button-collapse {
		display: block !important;
	}
	#mobile-menu, .button-collapse {
		margin-right: 0;
	}
	.nav-item.hidden {
		display: block;
	}
}