.dashboard-search {
	background: #fff;
}
#search-form {
  display: block;
  width: 100%;
  min-height: 100px;
  background: transparent;
  border: none;
  text-align: left;
}

#search-form fieldset {
  border: 1px solid transparent;
  margin: 0;
  padding: 1.5rem;
}

.search-term input[type="checkbox"] + label{
  font-size: 20px;
}
.amber:checked + label:before {
  border-right: 2px solid #FFA000;
  border-bottom: 2px solid #FFA000;
 }

#search-field input[type="search"] {
  display: block;
  -webkit-box-sizing: border-box;
		  box-sizing: border-box;
  margin: 20px auto;
  width: 100%;
  padding: 20px;
  color: #000;
  font-size: 14px;
  background-color: transparent;
  border: 2px solid #FFA000;
  border-radius: 3px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#search-field input[type="search"]:focus, #search-field input[type="search"]:hover {
  box-shadow: 0 0 5px #FFC107;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.hidden {
  display: none;
}

.search-result {
  padding: 10px 30px;
}

.search-result div {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px 30px;
  text-align: left;
  vertical-align: middle;
}

.search-result h5, .search-result li > a  {
  color: #000;
  text-align: left;
}
.search-result li {
  list-style: none;
  display: inline-block;
}

.search-result p {
  width: 100%;
  padding: 10px 30px;
  text-align: left;
}
.search-result em {
	font-weight: 700;
}
.search-pages {
  margin-top: 20px;
  text-align: center;
}

.search-pages span {
  padding: 3px 15px;
  color: #FFA000;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
