	.app-btn {
		position: relative;
		display: inline-block;
		padding: 12px 10px;
		padding: 1.2rem 1rem;
		min-width: 120px;
		border-radius: 5px;
		font-weight: 700;
		transition: all .2s ease;
		-webkit-transition: all .2s ease;
		-moz-transition: all .2s ease-in-out;
		-webkit-transition: all .2s ease-in-out;
	}
	.app-btn:hover {
		
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
		text-decoration: none;
	}
	.btn-transparent {
		background: transparent;
		border: 2px solid #bdbdbd;
		color: #bdbdbd;
	}
	.btn-transparent:hover {
		color: #FFC107;
		border: 2px solid #FFC107;
	}
	.btn-solid {
		background: #FFC107;
		border: 2px solid #FFC107;
		color: #000;
		margin: 0 0 15px 0;
	}
	.btn-solid:hover {
		background: #FFA000;
		border: 2px solid #FFA000;
		color: #000;
	}
	
	.btn-auth {
		width: 100%;
		color: #fff;
		margin: 0 0 15px 0;
	}
	.btn-auth:hover {
		color: #fff;
	}

	.btn-reg {
		background: #4CAF50;
		width: 100%;
		border: 2px solid #4CAF50;
	}
	.btn-reg:hover {
		background: #388E3C;
		border: 2px solid#388E3C;
	}
	.btn-login {
		background: #2196F3;		
		border: 2px solid #2196F3;		
	}
	.btn-login:hover {
		background: #1976D2;
		border: 2px solid#1976D2;
	}
	.btn-info {
		background: #FFC107;
		border-color: #FFC107;
	}
	.btn-info:hover {
		background: #FFA000;
		border-color: #FFA000;
	}